/*	------------------------
	Satellite

	Layout

	Design/layout by James Muspratt
	http://jamesmuspratt.com

	*/


/*	Reset ------------------ */

	html			{margin:0; padding:0;}
	body, body * 	{margin:0; padding:0; text-indent:0; text-decoration: none; outline:none;}
	body img		{border:0;}
	

/*	Utility Classes ------------------ */

	.clear 		{clear:both;}
	.cf:after	{content: " "; display: block; font-size: 0; clear: both; visibility: hidden;}
	
	
/*	Responsive Media ------------------ */
	
	img, video, embed 			{max-width:100%;}
	

/*	Transitions ------------------ */

	a, body, section.item		{
		-webkit-transition: 	all .3s ease;
		-moz-transition: 		all .3s ease;
		-o-transition:  		all .3s ease;
		transition: 			all .3s ease;
		}


/*	Layout ------------------ */
	
	body {padding:0 8%;}
	
	header.primary, .main	{max-width:1200px; margin:0 auto; }
	header.primary			{min-height:60px; padding:20px 0; margin-bottom:20px; border-bottom:1px solid rgba(0,0,0,.05);}
	
	
/*	Nav ------------------ */
	
	nav.primary ul 			{list-style:none;}
	nav.primary li 			{display:inline-block; margin-right:1em;}
	

/*	Home ------------------ */

	.thumbs 		{list-style:none;}
	.thumbs li 		{float:left; display:blokc; width:240px; height:140px; margin-right:10px; margin-bottom:10px; overflow:hidden; position:relative;}
	
/*	.thumbs li:hover	{bottom:2px; }*/
	
	.thumbs.photosets li {height:240px;}
	
	.thumbs li.video:after	{content: "video"; position:absolute; display:inline-block; padding:3px 5px; top:0; left:0; background:rgba(0,0,0,.5); color:#fff; font:bold .7em/1em arial, sans-serif;; text-transform:uppercase;}
	
	
	.paging 		{margin:20px 0; }
	.paging p		{float:left; width:45%;}

	.paging ul 		{list-style:none; float:right; width:45%; text-align:right;}
	.paging li 		{display:inline-block;}


/*	View Page (individual photo) ------------------ */
	
	p.full-trigger					{display:none;}
	.item							{margin-bottom:1em;}
	.photo-title-desc				{margin-bottom:1em; }
	.meta 							{margin-bottom:2em;}

	nav.photo-prev-next				{border-top:1px solid rgba(0,0,0,.05); padding-top:2em; margin-bottom:2em;  }
	nav.photo-prev-next ul			{list-style:none;}
	nav.photo-prev-next li			{display:inline-block;}
	nav.photo-prev-next li a 		{display:block;}


/*	Footer (individual photo) ------------------ */
	
	footer {clear:both; margin-top:2em;}






		/* --------------- Breakpoint 2:  --------------- */

			@media screen and (min-width: 500px) {
			body:after {content: "2"; display:none;} /* flag for javascript */
			body {padding:0 5%;}
	

			} /* 2 */
	
	
		/* ---------------  Breakpoint 3:  --------------- */
		@media screen and (min-width: 1000px) {
			body:after		{content: "3"; display:none;} /* flag for javascript */
			
			.item		 				{float:left; width:75%;}
			aside.sidebar 				{float:right; width:23%;}
		
			p.full-trigger 				{display:block; position:absolute; top:70px; right:21%;}
			p.full-trigger.active a		{background:rgba();}
			
			body.full {background:#333;}
			section.item.wide {width:100%;}
			
			body.full header.primary {border-color:rgba(255,255,255,.05);}
			
			} /* 3 */
	
	
	

	
			/*	Retina ------------------ */


			@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

				}  /* end retina */

		
			/*	Clean up ------------------ */
			/* 	Fix iOS and Windows Mobile font-size changes */
	
			@media screen and (max-device-width: 480px), screen and (max-width: 600px) {
	
				html {-ms-text-size-adjust: none;-webkit-text-size-adjust: none;}
		
			} /* clean up */
