/*	------------------------
	Satellite

	Design/layout by James Muspratt 2013
	http://jamesmuspratt.com
	Updated June 2012

	*/


/*	Reset ------------------ */


	html			{margin:0; padding:0;}
	body, body * 	{margin:0; padding:0; text-indent:0; text-decoration: none; outline:none;}
	body img		{border:0;}

/*	Utility Classes ------------------ */


	.clear 		{clear:both;}
	.cf:after	{content: " "; display: block; font-size: 0; clear: both; visibility: hidden;}
	.scroll 	{overflow-x:scroll;  -webkit-overflow-scrolling: touch;}
	.scroll:before {font-size:10px; content: "Scroll â†’"; display:block; padding:3px 5px;  background:#eaeaea; color:#888; letter-spacing:1px; text-transform:uppercase; text-align:center; width:80px; }
	nav.local-nav ul li.invisible 		{display:none;}


	
/*	Responsive Media ------------------ */
	img, video, embed 			{max-width:100%;}
	

/*	Transitions ------------------ */

	a, section	{
		-webkit-transition: 	all .3s ease;
		-moz-transition: 		all .3s ease;
		-o-transition:  		all .3s ease;
		transition: 			all .3s ease;
		}

/*	Layout ------------------ */
	.main	{max-width:900px; margin:0 auto; }

/*	Nav ------------------ */


/*	Home ------------------ */

	.thumbs {list-style:none;}
	.thumbs li {float:left; width:240px; height:140px; margin-right:.5em; margin-bottom:.5em; overflow:hidden;}
	
	.paging 		{margin:20px 0; }
	.paging ul 		{list-style:none; margin;}
	.paging li 		{display:inline-block;}
	.paging li a 	{padding:3px 8px; background:#eaeaea; color:#555;}
	.paging li a:hover	{background:#bbb;}

/*	View Page (individual photo) ------------------ */

	


		/* --------------- Breakpoint 2:  --------------- */

			@media screen and (min-width: 500px) {
			body:after {content: "2"; display:none;}
	
			.home-image						{width:1500px; height:1000px; overflow:hidden;}
	
			body#page-home header h1 a {background-image: url(images/rachel-hulin.png); top:50px; width:800px; text-indent:-9999px; height:100px;}
	
	
			header h1 a 	{height:40px;}
			#main			{padding-top:20px;}
			#main, footer 	{padding-left:3%; padding-right:3%;}


			}
	
	
			/* ---------------  Breakpoint 3:  --------------- */
			@media screen and (min-width: 1000px) {
				body:after {content: "3"; display:none;}
		
				.set-desc	 	{width:50%;}
		
		/*		.flexslider		{width:100%; }*/
				.slides p 		{position:absolute; top:300px; left:-200px; width:100px; margin-top:0;}

				.featured-image {width:25%; margin-right:3%;}
				.page-content 	{width:55%; float:left; }


			}
	
	
	

	
			/*	////////////////////////
				Retina  */


			@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

				}  /* end retina */


				@media screen and (min-width: 450px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

				}  /* end retina */


		
			/*	////////////////////////
				Clean Up
				Fix iOS and Windows Mobile font-size changes */
	
				@media screen and (max-device-width: 480px), screen and (max-width: 600px) {
		
					html {-ms-text-size-adjust: none;-webkit-text-size-adjust: none;}
			
				} /* end clean up */
