/*	------------------------
	Satellite

	Layout

	Design/layout by James Muspratt
	http://jamesmuspratt.com

	*/


/*	Reset ------------------ */

	html			{margin:0; padding:0;}
	body, body * 	{margin:0; padding:0; text-indent:0; text-decoration: none; outline:none;}
	body img		{border:0;}
	

/*	Utility Classes ------------------ */

	.clear 		{clear:both;}
	.cf:after	{content: " "; display: block; font-size: 0; clear: both; visibility: hidden;}
	
	
/*	Responsive Media ------------------ */
	
	img, video, embed 			{max-width:100%;}
	

/*	Transitions ------------------ */

	a, body		{
		-webkit-transition: 	all .3s ease;
		-moz-transition: 			all .3s ease;
		-o-transition:  			all .3s ease;
		transition: 					all .3s ease;
		}
		
	section.item, aside.sidebar {
		-webkit-transition: 	all .7s ease;
		-moz-transition: 			all .7s ease;
		-o-transition:  			all .7s ease;
		transition: 					all .7s ease;
	}

/*	Layout ------------------ */
	
	body 	{padding:0 8%;}
	.main 	{position:relative;}
	
	header.primary, .main, footer	{max-width:1300px; margin:0 auto; }
	header.primary			{ padding:1em 0 .5em 0; margin-bottom:20px;}
	
	
/*	Nav ------------------ */
	
	header.primary h1, nav.primary		{display:inline-block; margin-right:1em;}
	nav.primary ul 			{list-style:none; display:inline-block;}
	nav.primary li 			{display:inline-block; margin-right:1em;}
	

/*	Home ------------------ */

	.thumbs 			{list-style:none;}
	.thumbs li 		{float:left; display:block; overflow:hidden; position:relative;}
	
	.thumbs li 								{width:48%; /*height:140px;*/  margin-right:2.5%; margin-bottom:10px;}
	.thumbs li:nth-child(2n) 	{margin-right:0;}
	.thumbs li img						{max-height:140px;}
	
	.thumbs.photosets li {height:240px;}
	
	.thumbs li.video:after	{content: "video"; position:absolute; display:inline-block; padding:3px 5px; top:0; left:0; background:rgba(0,0,0,.5); color:#fff; font:bold .7em/1em arial, sans-serif;; text-transform:uppercase;}
	
	
	.paging 		{margin:20px 0; }
	.paging p		{float:left; width:45%;}

	.paging ul 		{list-style:none; float:right; width:45%; text-align:right;}
	.paging li 		{display:inline-block;}


/*	View Page (individual photo) ------------------ */
	
	p.wide-trigger					{display:none;}
	.item							{margin-bottom:1em;}
	.photo-title-desc				{margin-bottom:1em; }
	.meta 							{margin-bottom:2em; padding-bottom:1em;}

	nav.photo-prev-next					{border-top:1px solid rgba(0,0,0,.05); margin:2em 0; padding-top:2em;  }
	nav.photo-prev-next ul			{list-style:none;}
	nav.photo-prev-next li			{display:inline-block;}
	nav.photo-prev-next li a 		{display:block;}
	
	body.wide 																										{background:#333;}
	body.wide header.primary, body.wide .main, body.wide footer		{max-width:1000px;}
	body.wide section.item 																				{width:100%;}


/*	Footer (individual photo) ------------------ */
	
	footer {clear:both; margin-top:2em;}






		/* --------------- Breakpoint 2:  --------------- */

			@media screen and (min-width: 750px) {
			body:after {content: "2"; display:none;} /* flag for javascript */
			body {padding:0 5%;}
			
			.item		 							{float:left; width:70%;}
			aside.sidebar 				{float:right; width:28%;}
			
			.thumbs li 								{/*width:240px;*/ width:auto; height:140px; margin-right:10px; margin-bottom:10px;}
			.thumbs li:nth-child(2n) 	{margin-right:10px;}

			} /* 2 */
	
	
		/* ---------------  Breakpoint 3:  --------------- */
		@media screen and (min-width: 1000px) {
			body:after							{content: "3"; display:none;} /* flag for javascript */
			
			.item		 						{width:76%;}
			aside.sidebar 						{width:22%;}
		
			p.wide-trigger 						{display:block; /*position:absolute; top:70px; left:0*/}
			p.wide-trigger a:before				{content:"❑ ";}
			p.wide-trigger a.active:before		{content:"❒ ";}
			
	
			
			} /* 3 */
	
	
	

	
			/*	Retina ------------------ */


			@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

				}  /* end retina */

		
			/*	Clean up ------------------ */
			/* 	Fix iOS and Windows Mobile font-size changes */
	
			@media screen and (max-device-width: 480px), screen and (max-width: 600px) {
	
				html {-ms-text-size-adjust: none;-webkit-text-size-adjust: none;}
		
			} /* clean up */
