/*	------------------------
	Satellite

	Type

	Design/layout by James Muspratt
	http://jamesmuspratt.com

	*/




/*	Type ------------------ */

	body 			{font: .8em/1.5em arial, sans-serif;}

 	h1, h2, h3, h4	{font-weight:normal; clear:both; margin:0 0 10px 0 ;}
	h1				{font-size:1.5em; font-weight:bold;}
 	h2 				{color:#000; font-weight:bold; }
 	h3				{font-style:italic; margin-bottom:0;}
 	p 				{font-size:.8em; margin-bottom:10px;}


	a				{color:#2d9af6;}
	a:hover 		{color:#aaa; }


	header.primary h1 a {color:#888;}