/*	------------------------
	Satellite

	Type

	Design/layout by James Muspratt
	http://jamesmuspratt.com

	*/



/*	Type ------------------ */

	body 			{font: .8em/1.5em arial, sans-serif; color:rgb(150,150,150);}

 	h1, h2, h3, h4	{font-weight:normal; clear:both; margin:0 ;}
	h1				{font-size:1em; font-weight:bold;}
 	h2 				{ font-weight:bold; color:#999;}
 	h3				{font-style:italic; margin-bottom:0;}
	h4				{display:inline;}
 	p 				{font-size:1em; margin-bottom:1em;}


	a				{color:#2d9af6;}
	a:hover 		{color:#aaa; }


/*	Header & Nav ------------------ */

	nav.primary li.current a	{color:#000;}
	
	p.mode-trigger a:before						{content:"❑ "; }
	p.mode-trigger a.active:before		{content:"❒ ";}
	
	
/*	Home Page ------------------ */
	
	.paging p {font-size:.8em; line-height:1.5em;}

	li.newer a span:before	{content: "‹ ";}
	li.older a							{text-align:right;}
	li.older a span:after	{content: " ›";}


/*	General ------------------ */
	.page-header {margin-bottom:1em;}

/*	View Page ------------------ */
	
	nav a, a.button							{font-size:10px; font-weight:bold; display:inline-block; color:#979797; padding:2px 8px;  position:relative;}
	nav h1 a 										{padding-left:0;}
	a.button										{background:rgba(0,0,0,.05);}
	
	nav a.active 						{border-bottom:2px solid rgba(0,0,0,.05); }
	
	
	nav a:hover, a.button:hover	{color:#555;}
	
	aside.sidebar .title-desc {margin-bottom:3em;}
	
	.meta p {font-size:.8em; /*line-height:1.2em;*/}
	
	nav.photo-prev-next li					{display:inline-block;} 
	nav.photo-prev-next li img 			{display:inline-block;  padding:0 0 0 0;}
	nav.photo-prev-next li.prev 		{text-align:right;}


/*	Sets Page ------------------ */
	
	.thumbs.photosets li h4					{margin-bottom:0;}
	.thumbs.photosets li h5					{color:#979797; font-size:.8em; line-height:1.2em; font-weight:normal;}
	
	
/*	Footer ------------------ */

	footer p {font-size:.8em; color:#888;}
	
	/*	Credit/Logo */
	.sat-credit												{position:relative;  width:30em; position:relative;}
	.sat-logo													{position:relative; display:inline-block; color:#999; margin-left:-1em; width:1em; height:1em; padding:1em; border-radius:3em;  text-align:center; font-weight:bold; font-size:1.75em; }
	.sat-logo sup 										{position:absolute; right:.35em; top:.35em; }
	.sat-built-with										{left:0; position:absolute; opacity:0; display:inline-block;/* background:rgba(0,0,0,.05); */padding:0 2em;}
	.sat-credit:hover	.sat-logo 			{background:rgba(0,0,0,.05); }
	.sat-credit:hover .sat-logo sup		{opacity:0;}
	.sat-credit:hover .sat-built-with {opacity:1; left:2.25em;}
	
	
	
	/*	View Mode ------------------ */
	
		body.mode nav.primary li.current a	{color:#fff; border-color:rgba(255,255,255,.2);}



