/*	------------------------
	Satellite

	Type

	Design/layout by James Muspratt
	http://jamesmuspratt.com

	*/




/*	Type ------------------ */

	body 			{font: .8em/1.5em arial, sans-serif; color:#666;}

 	h1, h2, h3, h4	{font-weight:normal; clear:both; margin:0 0 10px 0 ;}
	h1				{font-size:1.5em; font-weight:bold;}
 	h2 				{ font-weight:bold; color:#999;}
 	h3				{font-style:italic; margin-bottom:0;}
 	p 				{font-size:1em; margin-bottom:1em;}


	a				{color:#2d9af6;}
	a:hover 		{color:#aaa; }


/*	Header & Nav ------------------ */

	header.primary h1 a 		{color:#888;}
	nav.primary li.current a	{color:#000; border-bottom:2px solid #eaeaea;}
	
/*	Home Page ------------------ */
	
	.paging p {font-size:.8em; line-height:1.5em;}

/*	View Page ------------------ */
	
	a.button		{font-size:.8em; font-weight:bold; display:inline-block; color:#aaa; padding:2px 8px; background:#eee; }
	a.button:hover	{color:#555;}
	
	aside.sidebar .title-desc {margin-bottom:3em;}
	
	.meta {font-size:.8em; line-height:1.2em;}
	
	nav.photo-prev-next li			{display:inline-block;} 
	nav.photo-prev-next li a 		{font-size:.8em; font-weight:bold; display:inline-block; color:#aaa; padding:8px 8px 2px 8px; background:#eee; }
	nav.photo-prev-next li a:hover	{color:#555;}
	nav.photo-prev-next li img 	{display:inline-block;}
	nav.photo-prev-next li.next 	{text-align:right;}
	
	
/*	Footer ------------------ */
	footer p {font-size:.8em; color:#888;}