/* 

Some basic styling to get your page rolling - feel free to trash it all
Enjoy!

Paul Burgess - http://iampaulburgess.co.uk

*/

/* Every time */
/* ----------  Reset */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin:0; padding:0;}
/* ------------------------------ */


body {
	font-size: 62.5%; /* Resets 1em to 10px */
	background:#1A1613;margin:20px 20px 20px 60px;color:#FFF;
	}

a img{border: 1px solid #333;padding:2px;margin:3px}
a:hover img{border: 1px solid #858585;padding:2px;}
a:hover{color: #858585;border: 0px ;} /* Dummy definition to overcome IE bug */

a:link { color:#CCC;}
a:visited { color:#CCC;}
a:hover { color:#666;}
a:active { color:#CCC;}


#header {margin-bottom:10px;padding:10px 0;border-bottom:1px #666 dotted;}
#header h1 a {
 text-decoration:none;
}


#context p a:link, p#nav a:link { color:#FFF; text-decoration:none; background:#333;padding:2px 4px 2px 4px;border:1px #333 solid;}
#context p a:visited, p#nav a:visited { color:#EEE; text-decoration:none; background:#333;padding:2px 4px 2px 4px;border:1px #333 solid;}
#context p a:hover, p#nav a:hover{ color:#333; text-decoration:none; background:#EEE;padding:2px 4px 2px 4px;border:1px #000 solid;}
#context p a:active, p#nav a:active{ color:#FFF; text-decoration:none; background:#333;padding:2px 4px 2px 4px;border:1px #333 solid;}

.noimg {padding:5px 5px 5px 0}

h1, h2 {font-family:Helvetica,Arial,sans-serif;letter-spacing:-0.04em;line-height:1.05em;padding-bottom:5px;}

h1 {font-size:2.6em;margin:4px 0 5px 0}
h2 {font-size:1.8em;color:#ded6d6;margin:2px 0 5px 0}

p {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:1.2em;margin-bottom:10px;padding-top:5px;line-height:160%}

div#photo p {width:500px;margin-top:20px}

#thumbs {width:650px}

p#nav {font-size:1.3em;margin-top:20px}
p#nav a {margin-right:1.2em}

p.note {color:#666;font-size:1em;margin-top:10px}

div#context {width:175px;text-align:center;}

#footer {margin-top:15px;padding-top:10px;border-top:1px #666 dotted}